

<div class="container">
  <div class="row justify-content-md-center">

      <%= link_to 'New', new_campaign_path, class: "btn btn-primary" %>

  </div>
  <br>
  <div class="row justify-content-md-center">

    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Select</th>
            <th scope="col">№</th>
            <th scope="col">Title</th>
            <th scope="col">Sketch</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%  @campaigns.each_with_index do |campaign,i| %>
          <tr>
            <td>
                  <%= check_box_tag 'sel_ids[]',campaign.id, false, class: "custom-control custom-checkbox" -%>
            </td>
            <td><%= i+1 %></td>
            <td><%= campaign.title %></td>
            <td><%= truncate(campaign.sketch, :length => 20) %></td>
            <td>
              <%= link_to 'Show', campaign_path(campaign) %>
              <%= link_to 'Delete', campaign_path(campaign) , method: :delete %>
            </td>

          </tr>
          <%end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
